<div class="about" id="about">
  <div class="about-img">
    <div class="about-container">
      <h1>Who We Are</h1>
      <h2>Connect with Customers</h2>
      <div class="text-about">
        <p>We’re passionate about helping you find your creative voice. Founded in 2023, we champion brands and bring
          them into the spotlight. We leverage your unique strengths to build strategic roadmaps, and deliver the right
          customers to you. Our team offers unparalleled creative solutions to all of our clients, and is determined to
          see every job through to its success.</p>
      </div>
    </div>
  </div>
</div>
