<footer class="footer-area footer--light">
  <div class="footer-big">
    <!-- start .container -->
    <div class="container">
      <div class="row">
        <!-- end /.col-md-4 -->
        <div class="col-md-2 col-sm-4">
          <div class="footer-widget">
            <div class="footer-menu footer-menu--1">
              <h4 class="footer-widget-title"><i class="fas fa-user-circle"></i>ACCOUT</h4>
              <ul>
                <li>
                  <a href="#">Account info</a>
                </li>
                <li>
                  <a href="#">Cart</a>
                </li>
                <li>
                  <a href="#">Favorite</a>
                </li>
                <li>
                  <a href="#">Histoy</a>
                </li>
              </ul>
            </div>
            <!-- end /.footer-menu -->
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- end /.col-md-3 -->

        <div class="col-md-3 col-sm-4">
          <div class="footer-widget">
            <div class="footer-menu">
              <h4 class="footer-widget-title"><i class="fab fa-servicestack"></i>CATEGORY</h4>
              <ul>
                <li>
                  <a href="#">Accessories and Props</a>
                </li>
                <li>
                  <a href="#">Interior and Decor</a>
                </li>
              </ul>
            </div>
            <!-- end /.footer-menu -->
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- end /.col-lg-3 -->

        <div class="col-md-3 col-sm-4">
          <div class="footer-widget">
            <div class="footer-menu no-padding">
              <h4 class="footer-widget-title"><i class="fab fa-teamspeak"></i>ABOUT baybua</h4>
              <ul>
                <li>
                  <a href="#">Introduce</a>
                </li>
                <li>
                  <a href="#">Terms &amp; Conditions</a>
                </li>
                <li>
                  <a href="#">Support Policy</a>
                </li>
                <li>
                  <a href="#">Refund Policy</a>
                </li>
                <li>
                  <a href="#">FAQs</a>
                </li>
                <li>
                  <a href="#">Buyers Faq</a>
                </li>
              </ul>
            </div>
            <!-- end /.footer-menu -->
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- Ends: .col-lg-3 -->
        <div class="col-md-4 col-sm-12">
          <div class="footer-widget">
            <div class="widget-about">
              <img src="http://placehold.it/250x80" alt="" class="img-fluid">
              <p>Что если тут написать другой текст на русском языке, для проверки шрифта Rubik )</p>
            </div>
          </div>
          <!-- Ends: .footer-widget -->
        </div>
      </div>

      <!-- end /.row -->
    </div>
    <div class="newsletter container">
      <h4><i class="fas fa-newspaper"></i>Subscribe</h4>
      <input type="text" placeholder="Email Address">
      <button type="submit">Sign Up</button>
    </div>
    <!-- end /.container -->
  </div>
  <!-- end /.footer-big -->

  <div class="mini-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright-text">
            <p>© 2019
              <a href="#">baybua</a>. All rights reserved. Created by
              <a href="#">HK3T</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
