<div class="container">
  <h1>Services We Offer</h1>
  <p>Services We Offer</p>
  <div class="row">
    <div class="col-md-6 pr-3">
      <div class="service-img1">
        <div class="service-2">
          <h3>Accessories and Props</h3>
          <h5>Cung cấp phụ kiện thời trang</h5>
        </div>
      </div>
    </div>
    <div class="col-md-6 pl-3">
      <div class="service-img2">
        <div class="service-2">
          <h3>Interior and Decor</h3>
          <h5>​Nội thất và đồ trang trí</h5>
        </div>
      </div>
    </div>
  </div>
</div>
