<div class="banner" id="banner">
  <div class="banner-img">
    <div class="banner-container">
      <h1>Welcome to baybua</h1>
      <h2>TRAVELING IT LEAVES YOU SPEECHLESS THEN TURNS YOU INTO A STORYTELLER</h2>
    </div>
  </div>

  <div class="banner-content">
    <p>At baybua, we believe in the power of ideas. Our comprehensive Marketing Agency is based in San Francisco, but we
      work with clients near and far in order to help them transform the way they do business. Every great client
      alliance starts with a strategy. When we partner with clients for full-service creative solutions, we devise a
      plan of attack to capture audience attention and ensure long-term success.</p>
  </div>
</div>
